doctype html
html(lang="ru")
    include head.pug
    body.animsition
        .animsition-loading
            
        include header.pug
        
        .content
            .row.page-head
                h1.head_lvl1 О компании
            .row
                .about-img
                    img(src='img/img.jpg')
                .about-info
                    p.text.text_dk BlackBoxExpo – новая выставочный площадка, открывшаяся в Самаре. Это современное пространство для проведения деловых и развлекательных мероприятий любого  формата –представляющих современную культуру с уникальной атмосферой и впечатляющей программой выставок.
                    p.text.text_dk.text_big Наша площадка  —  это пространство эксперимента и диалога. Проекты ориентированы на вовлечение зрителя в интерактивную среду и взаимодействие с окружающим миром через креатив и искусство.
                    h3.head_lvl3 Уникальные преимущества площадки
                    p.text.text_dk.text_big Основное достоинство – многофункциональность и возможность трансформации.
                    ul.list
                        li Площадка BlackBoxExpo  расположена в Торговом центре Амбар,  который является единственным в Самаре торгово-развлекательным комплексом европейского уровня.
                        li Открытость позволяет максимально использовать пространство.
                        li Большим преимуществом является второй уровень.
                        li Отдельный вход
                        li Габариты пространства – площадь зала 109 кв.м, второй уровень – 11 кв.м высота потолка – 6 м.
                        li Благодаря витражному остеклению много света
                        li Можно менять конфигурацию зала, увеличивая и уменьшая площадь и количество посадочных мест. Максимальная посадка  80 человек
                        li Современные системы безопасности и контроля доступа:
                            ul
                                li видеонаблюдение
                                li охранная сигнализация
                                li пожарная сигнализация и автоматическая противопожарная защита
                                li система парковки
                        li Площадь пространства– 106 м
                
                .row.partners-head
                    h3.head_lvl2 Наши партнеры

                .row
                    .partner
                        img(src='img/adidas.png')
                    .partner
                        img(src='img/nike.png')
                    .partner
                        img(src='img/reebok.png')
                    .partner
                        img(src='img/nike.png')
                    .partner
                        img(src='img/reebok.png')
                    .partner
                        img(src='img/adidas.png')
                            
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                
        include footer.pug
