footer.footer
    .row
        .footer__col
            .footer__col-in
                h2.footer__head Меню
                ul.footer-nav
                    li.footer-nav__el
                        a.animsition-link(href="index.html") Главная
                    li.footer-nav__el
                        a.animsition-link(href="about.html") О компании
                    li.footer-nav__el
                        a.animsition-link(href="services.html") Услуги
                    li.footer-nav__el
                        a.animsition-link(href="#calendar") Календарь
                    li.footer-nav__el
                        a.animsition-link(href="gallery.html") Галерея
                    li.footer-nav__el
                        a.animsition-link(href="contacts.html") Контакты
        .footer__col
            .footer__col-in
                h2.footer__head Контактная информация
                ul.footer-contacts
                    li.footer-contacts__el 443093 г. Самара ул. Ново-Садовая д. 38 о. 9
                    li.footer-contacts__el
                        a(href="mailto:info@blackboxexpo.ru") info@blackboxexpo.ru
                    li.footer-contacts__el +7 (927) 999-99-99
        .footer__col
            .footer__col-in
                h2.footer__head Социальные сети
                ul.footer-socials
                    li.footer-socials__el
                        a
                            i.white.fa.fa-vk
                            i.black.fa.fa-vk
                    li.footer-socials__el
                        a
                            i.white.fa.fa-facebook
                            i.black.fa.fa-facebook
                    li.footer-socials__el
                        a
                            i.white.fa.fa-instagram
                            i.black.fa.fa-instagram


script(src='//code.jquery.com/jquery-3.1.1.min.js')
script(src='assets/magnific-popup/jquery.magnific-popup.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js')
script(src='js/app.js')
