doctype html
html(lang='ru')
    include head.pug
    body.animsition
        .animsition-loading

        include header.pug

        .content.intro-outer
            .row
                .intro
                    //- h1.intro__head.head_lvl1 Это невероятно важный заголовок
                    p.text_dk.text_big Любое креативное пространство - это огромный шанс для реализации множества проектов. Именно поэтому оно привлекает к себе молодых представителей творческой интеллигенции, которые еще только начинают свой путь к успеху.
                .cube-outer
                    .cube
                        .side.side1
                        .side.side2
                        .side.side3
                        .side.side4
                        .side.side5
                        .side.side6
                            
        include footer.pug
