doctype html
html(lang="ru")
    include head.pug
    body.animsition
        .animsition-loading
            
        include header.pug
        
        .content
            .row.page-head
                h1.head_lvl1 О компании
            .row
                .about-img
                    img(src='img/img.jpg')
                .about-info
                    p.text.text_dk.text_big Таким образом реализация намеченных плановых заданий играет важную роль в формировании систем массового участия.
                    p.text.text_lt Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. С другой стороны дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений. Таким образом начало повседневной работы по формированию позиции требуют определения и уточнения дальнейших направлений развития.
                    p.text.text_dk.text_big Повседневная практика показывает, что дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений.
                
        include footer.pug
