.general-header
    .row
        a.logo.animsition-link(href='index.html')
            img(src='img/logo.png')
        .search
            button.search__btn
        .mobile
            button.mobile__btn
                span
                span
                span
    .row
        ul.navigation
            li.navigation__el
                a.animsition-link(href='index.html') Главная
            li.navigation__el
                a.animsition-link(href='about.html') О компании
            li.navigation__el
                a.animsition-link(href='services.html') Наши услуги
            li.navigation__el
                a.animsition-link(href='#calendar') Календарь
            li.navigation__el
                a.animsition-link(href='gallery.html') Галерея
            li.navigation__el
                a.animsition-link(href='contacts.html') Контакты

.main-modal
    .row
        ul.mobile-nav
            h1.main-modal__header Навигация
            li.mobile-nav__el
                a(href='index.html') Главная
            li.mobile-nav__el
                a(href='about.html') О компании
            li.mobile-nav__el
                a(href='services.html') Наши услуги
            li.mobile-nav__el
                a(href='#calendar') Календарь
            li.mobile-nav__el
                a(href='gallery.html') Галерея
            li.mobile-nav__el
                a(href='contacts.html') Контакты
        
        form.main-search
            input(placeholder='Поиск')
